* {
  font-family: 'Poppins', sans-serif;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e9e9f4;
}

.app-content {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  /*height: 90vh;*/
}

.flex-container {
  display: flex;
}
.grid {
  display: grid;
  grid-template-columns: 60% 40%;
}

.nav-title {
  margin: 0;
}

.nav-content {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1%;
  height: 30vh;
}

.overview-container {
  width: 85%;
  height: 82vh;
  padding: 2rem;
  background-color: rgba(255, 255, 255);
  border-radius: 30px;
}
.calendar-content {
  width: 90%;
  padding: 2rem 2rem 1rem 2rem;
  border-left: 2px solid #e9e9f4;
}
/*
.calendar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3rem;
}
*/

.tasklist-container {
  margin-right: 2rem;
}

.tasklist-content {
  grid-template-columns: 60%;
}
.weather-content {
  padding: 20px;
}

.tasklist-content, .weather-container {
  padding: 20px;
}

/*
.overview-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
*/

.sidebar-icon {
  padding: 12px 0px;
  color: #c0bcd8;
}
.sidebar-icon:hover {
  transform: scale(1.2);
  transition: ease .3s;
}

.overview-date {
  display: flex;
  justify-content: space-between;
}

.rightside-container { 
  padding: 20px;
  margin-left: 2%;
  margin-right: 1%;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}


.current-time {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 16px;
}

/* Calendar */
.this-month {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 2rem;
}

/* Weather */
.main-weather {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.weather-day {
  margin: 10px;
  text-align: center;
  display: grid;
  justify-content: center;
}

.weather-icon {
  width: 80%;
}
.weather-img {
  margin-top: 10px;
}
.weather-type {
  font-size: 10px;
  line-height: 1.3;
}
.weather-date {
  font-size: 12px;
}
.weather-max {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
}
.weather-min {
  font-size: 12px;
  display: inline-block;
}


/* Task List */
.todo-text {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-right: 20px;
}
.todo-input {
  width: 100%;
}

.todo-input, .todo-button {
  padding: 0.2rem;
  border: 1px solid #c0bcd8;
  font-size: 1rem;
  background: white;
}
.todo-button {
  color: #ffffff;
  background: #c0bcd8;
  cursor: pointer;
  transition: all 0.3s ease;
}
.todo-button:hover {
  color: #82799c;
  transform: scale(1.1);
}
.todo-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.todo-list {
  min-width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}


.todo {
  margin: 0.5rem;
  margin-left: 0;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: .3rem;
  padding-left: 10px;
  font-size: 1rem;
  width: 100%;
  background-color: #e9e9f4;
  color: #82799c;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ffffff;
  color: #c0bcd8;
  border: none;
  border-radius: 50px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.trash-btn:hover,
.complete-btn:hover {
  color: #82799c;
  transform: scale(1.1);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select-btn {
  margin: .4rem 0px;
  position: relative;
  overflow: hidden;
}
select {
  color: #c0bcd8;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 10rem;
}

/* Arrow */
.select-btn::after {
  content: "\25BE";
  position: absolute;
  right: 3px;
  padding: .2rem;
  background: #e9e9f4;
  cursor: pointer;
  pointer-events: none;
  color: #82799c;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
@media (max-width: 1000px) {
  .main-weather { 
    grid-template-columns: repeat(3, 1fr); 
  }
  .overview-container {
    width: 100%;
    height: 100%;
  }
  .App {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .grid { 
    grid-template-columns: repeat(1, 1fr); 
  }
  .overview-container {
    height: 90%;
    padding: 1rem;
    width: 85%;
  }
  .calendar-content {
    border-left: none;
  }
}

@media (max-width: 450px) {
  .app-content { 
    display: contents; 
  }
  .nav-content {
    display: inline;
    text-align: center;
    height: 1rem;
    border-radius: 15px;
    margin: 5px 30px;
  }
  .sidebar-icon {
    padding: 15px;
  }
  .tasklist-container {
    margin-right: 0;
  }
  .calendar-content {
    padding: .5rem;
    width: 100%;
  }
  .overview-container {
    margin: 5px;
  }
}